.events-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin-bottom: 96px;

  &__item {
    display: flex;
    position: relative;
    height: 320px;
    width: 350px;
    background-color: $white;
  }

  &__img {
    height: 204px;
  }

  &__item-wrapper {
    width: 380px;
    padding: 32px 33px;
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    margin: 0;
    font-family: $lora;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: $basic-black;
    margin-bottom: 4px;
  }

  &__item-bio {
    display: grid;
    grid-template-areas:
      "photo author"
      "photo occupation";
    grid-template-columns: 56px 1fr;
    align-items: center;
    column-gap: 23px;
    margin-top: auto;
  }

  &__author-img {
    grid-area: photo;
  }

  &__author {
    font-family: $lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $grey1;
    margin: 0;
  }

  &__item-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px 16px 16px 16px;
    background-color: $white;
    height: 116px;
    box-sizing: border-box;
  }

  &__item--full {
    width: 730px;

    .events-list__img {
      height: auto;
    }

    .events-list__item-title {
      font-family: $lora;
      font-weight: 700;
      font-size: 32px;
      line-height: 41px;
      color: $basic-black;
      margin: 0;
      margin-bottom: 24px;
    }

    .events-list__item-txt {
      font-family: $lato;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $grey1;
      margin: 0;
    }

    .events-list__author {
      grid-area: author;
      font-family: $lato;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: $brand-color;
    }

    .events-list__occupation {
      grid-area: occupation;
      font-family: $lato;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $grey1;
    }
  }
}
