.events {
  background-color: $grey4;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    margin-bottom: 56px;
    align-items: center;
  }

  &__title {

    @include section-title;
  }

  &__link {

    @include link;

    padding-right: 40px;
    margin-top: 19px;

    &::after {
      right: 5px;
      top: 5px;
    }
  }
}
