.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 112px;

  @include media-mobile {
    align-items: initial;
    margin-bottom: 60px;
  }

  &__container {
    position: absolute;
    left: 54vw;
    top: -6px;
    background-color: #ffffff;

    @include media-mobile {
      position: static;
      margin-left: 40px;
      margin-bottom: 20px;
    }
  }

  &__mark {

    @include mark($brand-color);
  }

  &__title {

    @include section-title;

    max-width: 496px;
    margin-top: 8px;

    @include media-custom (1340px) {
      font-size: 36px;
    }

    @include media-tablet {
      font-size: 29px;
      line-height: 41px;
    }
  }

  &__nav {
    position: absolute;
    left: 95vw;
    top: 194px;

    @include media-custom (1340px) {
      left: 100vw;
    }

    @include media-custom (980px) {
      left: 110vw;
    }

    @include media-mobile {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .swiper-button-next {
      width: 92px;
      right: -13px;
      background-image: url("../img/next-active.svg");
    }

    .swiper-button-prev {
      width: 53px;
      right: 100px;
      left: auto;
      background-image: url("../img/prev.svg");
    }
  }

  &__slider {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 130%;
    margin-left: -30%;

    @include media-mobile {
      height: auto;
    }

    .swiper-slide-active {
      height: 600px;
      width: 445px;

      @include media-custom (1340px) {
        width: 350px;
        height: 471px;
      }

      @include media-mobile {
        width: 280px;
        height: 280px;
      }
    }

    .swiper-wrapper {
      align-items: flex-end;
    }
  }

  &__slide {
    width: 350px;
    height: 350px;

    @include media-mobile {
      width: 280px;
      height: 280px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
