.hovered-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $brand-color;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  z-index: 10;

  &::before {
    content: "";
    background-image: url("../img/space-square.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 90px;
    height: 90px;
    right: 16px;
    top: 16px;
  }

  &__title {
    margin: 0;
    font-family: $lora;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    margin-top: -40px;
  }

  &__txt {
    margin: 0;
    font-family: $lato;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    max-width: 253px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  &__link {
    position: absolute;
    padding: 25px 60px 25px 53px;
    background-color: $secondary;
    font-family: $lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    bottom: 0;
    left: 0;

    &:hover {
      background-color: darken($secondary, 10%);
    }

    &::after {
      content: "";
      background-image: url("../img/arrow.svg");
      width: 9px;
      height: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 32px;
      top: 27px;
    }
  }
}
