.main-header {
  padding: 60px 20px;

  @include media-tablet {
    padding: 20px 20px;
  }

  &--on-scroll {
    border-bottom: 1px solid #dbdce0;
    background-color: $white;
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;

    @include media-tablet {
      display: grid;
      grid-template-areas:
        "link burger"
        ". nav"
        ". user";
      justify-content: space-between;
    }
  }

  &__logo-link {
    font-family: $playfair;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $brand-color;
    margin-right: 110px;

    @include media-tablet {
      grid-area: link;
      margin-right: 0;
    }
  }

  &__burger {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("../img/menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    justify-self: end;

    @include media-tablet {
      display: block;
      grid-area: burger;
    }
  }
}
