.main-nav {
  padding-top: 10px;

  @include media-tablet {
    grid-area: nav;
    padding-right: 20px;
  }

  &--hidden {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;

    @include media-tablet {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__list-item:not(:last-child) {
    margin-right: 35px;

    @include media-tablet {
      margin-right: 0;
    }
  }

  &__link {
    color: $basic-black;
    font-family: $lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

    &:hover {
      color: $secondary;
    }
  }
}
