.reviews {
  display: flex;
  flex-direction: column;
  position: relative;

  &__container {
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 55px;
  }

  &__mark {

    @include mark($brand-color);
  }

  &__title {

    @include section-title;

    margin-top: 10px;
    max-width: 399px;
    width: 100%;
  }

  &__slider {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-left: 20.8%;
    padding-bottom: 46px;

    @include pagination;

    .swiper-pagination-progressbar {
      left: 31.5%;
      top: 425px;
    }
  }

  &__nav {
    position: absolute;
    left: 77.5vw;
    top: 138px;

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .swiper-button-next {
      width: 92px;
      right: -13px;
      background-image: url("../img/next-active.svg");
    }

    .swiper-button-prev {
      width: 53px;
      right: 100px;
      left: auto;
      background-image: url("../img/prev.svg");
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 393px;
    background-color: $brand-color;
    color: $white;
    padding: 47px 40px 35px 40px;
    box-sizing: border-box;
    font-family: $lato;
  }

  &__txt {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
  }

  &__user-container {
    display: grid;
    margin-top: auto;
    grid-template-columns: 56px 1fr;
    grid-template-areas:
      "photo name"
      "photo occupation";
    align-items: center;
    column-gap: 18px;
  }

  &__user-photo {
    grid-area: photo;
  }

  &__user-name {
    grid-area: name;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    margin-top: 10px;
  }

  &__user-occupation {
    grid-area: occupation;
    font-size: 16px;
    line-height: 26px;
  }
}
