.workspaces {
  position: relative;
  margin-bottom: 111px;


  &__title-container {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
    padding-right: 200px;
  }

  &__title {

    @include section-title;

    margin-right: 165px;
  }

  &__subtitle {
    font-family: $lato;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $grey1;
    max-width: 452px;
    width: 100%;
  }

  &__slider {
    overflow: hidden;
    margin-bottom: 202px;
  }

  &__nav-wrapper {
    position: absolute;
    right: 34px;
    top: 75px;

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .swiper-button-next {
      width: 92px;
      right: -13px;
      background-image: url("../img/next-active.svg");
    }

    .swiper-button-prev {
      width: 53px;
      right: 100px;
      left: auto;
      background-image: url("../img/prev.svg");
    }

    // .swiper-button-active {
    //   &::after {
    //     background-image: url();
    //   }
    // }
  }

  // .swiper-button-prev,
  // .swiper-button-next {
  //   position: static;
  // }

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: 36px;
  }

  &__article {
    background-color: $brand-color;
    padding: 54px 53px 53px 53px;
    color: $white;
    width: 50%;
  }

  &__article-mark {

    @include mark($white);
  }

  &__article-title {

    @include section-title;

    color: inherit;
    max-width: 433px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &__article-txt {
    max-width: 433px;
    width: 100%;
    font-family: $lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $white;
    margin-bottom: 0;
  }
}
