.workspaces {
  position: relative;
  margin-bottom: 111px;


  &__title-container {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
    padding-right: 200px;

    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-mobile {
      padding-right: 0;
    }
  }

  &__title {

    @include section-title;

    margin-right: 165px;

    @include media-mobile {
      margin-right: 0;
    }
  }

  &__subtitle {
    font-family: $lato;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $grey1;
    max-width: 452px;
    width: 100%;

    @include media-mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__slider {
    overflow: hidden;
    margin-bottom: 162px;
    padding-bottom: 40px;
    position: relative;

    @include pagination;

    .swiper-pagination-progressbar {
      top: 99%;
    }

    @include media-tablet {
      margin-bottom: 130px;
    }

    @include media-mobile {
      margin-bottom: 70px;
      padding-bottom: 20px;


      .swiper-pagination-progressbar {
        top: 99%;
      }
    }

    // @include media-custom (500px) {
    //   .swiper-pagination-progressbar {
    //     top: 45%;
    //   }
    // }

    // @include media-custom (420px) {
    //   .swiper-pagination-progressbar {
    //     top: 35%;
    //   }
    // }
  }

  &__nav-wrapper {
    position: absolute;
    right: 34px;
    top: 75px;

    @include media-mobile {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .swiper-button-next {
      width: 92px;
      right: -13px;
      background-image: url("../img/next-active.svg");
    }

    .swiper-button-prev {
      width: 53px;
      right: 100px;
      left: auto;
      background-image: url("../img/prev.svg");
    }
  }


  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: 36px;

    @include media-tablet {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__article {
    background-color: $brand-color;
    padding: 54px 53px 53px 53px;
    color: $white;
    width: 50%;

    @include media-tablet {
      width: 100%;
    }

    @include media-mobile {
      padding: 30px 20px;
    }
  }

  &__article-mark {

    @include mark($white);
  }

  &__article-title {

    @include section-title;

    color: inherit;
    max-width: 433px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 24px;

    @include media-mobile {
      margin-bottom: 16px;
    }
  }

  &__article-txt {
    max-width: 433px;
    width: 100%;
    font-family: $lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $white;
    margin-bottom: 0;

    @include media-tablet {
      font-size: 18px;
      line-height: 24px;
    }

    @include media-mobile {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
