*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  margin: 0 auto;
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
}
