.swiper-pagination-progressbar {
  width: 160px !important;
  height: 4px !important;
  background-color: #dfdfdf !important;
  border-radius: 0;
  left: 43% !important;
  top: 651px !important;
}

.swiper-pagination-progressbar-fill {
  height: 4px;
  background-color: $red !important;
  border-radius: 0;
}
