$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;


//fonts
$lato: "Lato",
  sans-serif;

$playfair: "Playfair Display",
  serif;

$lora: "Lora",
  serif;

//font colors

$brand-color: #10375c;
$basic-black: #000000;
$white: #ffffff;
$secondary: #ff5722;
