$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;


//fonts
$lato: "Lato",
sans-serif;

$playfair: "Playfair Display",
serif;

$lora: "Lora",
serif;

//font colors

$brand-color: #10375c;
$basic-black: #222831;
$demi-black: #6a6a6a;
$grey1: #9a9a9a;
$grey4: #f8f8f8;
$white: #ffffff;
$secondary: #ff5722;
$red: #dd2c00;
