@mixin mark ($color) {
  font-family: $lato;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  color: $color;

  &::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 2px;
    background-color: $color;
    top: 50%;
    right: -89px;
  }
}
