@mixin section-title {
  margin: 0;
  font-family: $lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: $brand-color;

  @include media-tablet {
    font-size: 30px;
    line-height: 41px;
  }

  @include media-mobile {
    font-size: 20px;
    line-height: 30px;
  }
}
