@mixin pagination {
  .swiper-pagination-progressbar {
    width: 160px;
    height: 4px;
    background-color: #dfdfdf;
    border-radius: 0;
    left: 50%;
    top: 651px;
    transform: translateX(-50%);
  }

  .swiper-pagination-progressbar-fill {
    height: 4px;
    background-color: $red;
    border-radius: 0;
  }
}
